
test_data/ap_sagittal/processed_data/projections/max/data/data_MAX_stage=hh8_sample=1_projection=anteriorPosterior_c0=dapi_c1=shh_c2=fst_c3=gli3.txt
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/anteriorPosterior_projection_absolute.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/anteriorPosterior_projection_absolute.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/anteriorPosterior_projection_absolute.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/anteriorPosterior_projection_fractional.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/anteriorPosterior_projection_fractional.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/anteriorPosterior_projection_fractional.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/fluorescence_logged.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/fluorescence_logged.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/fluorescence_logged.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/fluorescence_raw.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/fluorescence_raw.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/fluorescence_raw.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c0=dapi.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c0=dapi.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c0=dapi.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c1=shh.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c1=shh.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c1=shh.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c2=fst.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c2=fst.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c2=fst.svg
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c3=gli3.fig
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c3=gli3.png
test_data/ap_sagittal/processed_data/projections/max/figures/raw/MAX_stage=hh8_sample=1/roi_c3=gli3.svg
test_data/ap_sagittal/processed_data/projections/max/objects/obj_MAX_stage=hh8_sample=1_projection=anteriorPosterior_c0=dapi_c1=shh_c2=fst_c3=gli3.mat
